body{
    font-family: 'Arial';
}

h1, h2, h3{
    font-weight: normal;
}

.header1{
    background: "yellow";
    border: 1px solid #E0E0E0;
    box-shadow: 0 1px 0 0 #E0E0E0;
    padding-bottom: 25px;
    padding-left: 10px;
    height: 35px;
    font-family: 'Arial';
}

h1{
    margin-top: 14px;
    font-size: 20px;
}

.header2{
    text-align: center;
    margin-top: -40px;
    font-size: 17px;
    margin-right: 10px;
    float: right;
}

span{
    margin-top: -20px;
}

button{
    border: 1px solid dodgerblue;
    height: 36px;
    width: 80px;
    font-size: 17px;
    background-color: white;
    color: dodgerblue;
    border-radius: 5px 5px 5px 5px;
}

.container2{
    margin: auto;
    text-align: center;
    height: 100%;
    
}

h2{
    padding-top: 20px;
    font-size: 57px;
    font-family: 'Arial';
}

.container3 p{
    margin: -25px auto 0;
    line-height: 30px;
    font-size: 20px;
    width: 37%;
}

h3{
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 2.5%;
    margin-top: 0.5%;
    font-size: 150%;
    height: 39px;
    width: 99.9%;
    text-decoration: none;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 2%;
}

.container4{
    height: 335px;
    width: 965px;
    margin: auto;
}

#free-container{
    border: 1px solid #E0E0E0;
    height: 332px;
    width: 300px;
    float: left;
    text-align: center;
    border-radius: 1.5%;
}

#free-container button{
    border: 1px solid dodgerblue; 
    height: 50px;
    width: 85%;
    font-size: 21px;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    margin-bottom: 10px;
}

#free1{
    color: black;
    font-size: 42px;
}

#free2{
    color: gray;
    font-size: 33px;
}

#free3{
    line-height: 22px;
    font-size: 16px;
}

#pro-container{
    border: 1px solid #E0E0E0;
    border-radius: 1.5%;
    height: 332px;
    width: 300px;
    float: left;
    margin-left: 29px;
    text-align: center;
}

#pro-container button{
    border: 1px solid dodgerblue;
    border-radius: 5px 5px 5px 5px;
    background-color: dodgerblue;
    color: white;
    margin: auto;
    height: 50px;
    width: 85%;
    font-size: 21px;
}

#enterprise-container{  
    border: 1px solid #E0E0E0;
    border-radius: 1.5%;
    height: 332px;
    width: 300px;
    float: right;
    text-align: center;
}

#enterprise-container button{
    border: 1px solid dodgerblue; 
    border-radius: 5px 5px 5px 5px;
    background-color: dodgerblue;
    color: white;
    height: 50px;
    width: 85%;
    font-size: 21px;
    margin: auto;
}

.container5{
    margin-top: 75px;
}

.container6{
    border-top: 1px solid #E0E0E0;
    padding-top: 22px;
    text-align: left;
    line-height: 25px;
    margin: auto;
    width: 975px;
}

h4{
    font-size: 20px;
    margin-bottom: 1px;
}

.logo-container{
    float: left;
}

.logo-container h4{
    background-color: #483D8B;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    color: white;
    width: 22px;
    height: 22px;
    padding: 2px;
    font-size: 20px;
    margin-bottom: 5px;
}

.logo-container span{
    color: gray;
    font-size: 14px;
}

.features-container{
    float: left;
    margin-left: 190px;
}

.resources-container{
    float: left;
    margin-left: 120px;
}

.about-container{
    float: right;
    margin-right: 120px;
}

li{
    list-style: none;
    color: gray;
    font-weight: normal;
    font-size: 17px;
}

@media screen and (max-width: 1250px){
    .container4{
        width: 965px;
        padding: 0px;
    }

    #free-container{
        width: 300px;
        margin-left: auto;
    }

    #pro-container{
        width: 300px;
        margin-left: 29px;
    }

    #enterprise-container{
        width: 300px;
    }
}

media screen and (max-width: 1200px){
    .container4{
        width: 965px;
        padding: 0px;
    }

    #free-container{
        width: 300px;
        margin-left: auto;
    }

    #pro-container{
        width: 300px;
        margin-left: 29px;
    }

    #enterprise-container{
        width: 300px;
    }
}

media screen and (max-width: 1100px){
    .container4{
        width: 9px;
        padding: 0px;
    }

    #free-container{
        width: 300px;
        margin-left: 5px;
    }

    #pro-container{
        width: 300px;
        margin-left: 29px;
    }

    #enterprise-container{
        width: 300px;
    }
}

@media screen and (max-width: 1025px){
    .container4{
        width: 965px;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 0 auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    .container5{
        margin-top: 790px;
    }

    .container6{
        width: 300px;
        text-align: left;
    }

    .logo-container{
        margin-left: 130px;
    }

    .logo-container span{
        margin-left: -28px;
    }

    .features-container{
        margin-left: 70px;
        text-align: center;
    }

    .resources-container{
        margin-left: 75px;
        text-align: center;
    }

    .about-container{
        margin-left: 70px;
        text-align: center;
    }
}

@media screen and (max-width: 900px){
    .container4{
        width: 100%;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

}

@media screen and (max-width: 750px){
    .container4{
        width: 100%;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

}

@media screen and (max-width: 650px){
    .container4{
        width: 100%;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin-left: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

}

@media screen and (max-width: 600px){
    .container4{
        width: 100%;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin-left: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    .header2 span{
        display: none;
    }

}

@media screen and (max-width: 500px){
    .container4{
        width: 100%;
        padding: 0px;
    }

     #free-container{
        width: 300px;
        float: none;
        margin-left: auto;
    }

    #pro-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    #enterprise-container{
        float: none;
        width: 300px;
        margin: 20px auto 0;
    }

    .header2 span{
        display: none;
    }

}