header{
    height: 79px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

header .navbar-brand{
    font-size: 40px;
    font-weight: bold; 
    letter-spacing: 1px; 
}

header mark{
    background: none;
    letter-spacing: -5px;
}

header #search-bar{
    height: 40px;
    margin-left: 130px;
    margin-top: 10px;
    font-size: 14px;
    color: #f0f0f0;
}

#search-1{
    color: lightgray;
}

header input-1{
    color: #f0f0f0;
}

header .navbar{
    height: 79px;
    padding-bottom: -10px;
}

#navbarDropdown{
    font-size: 14px;
    color: #009494;
}

header .btn-info{
    font-size: 14px;
    color: #ffffff;
    width: 107px;
    height: 40px;
    border-radius: 6px;
    margin-top: 8px;
}

main h1{
    font-size: 24px;
    letter-spacing: normal;
    line-height: 1.21;
    font-style: normal;
    color: #0d1018;
}

main .img-fluid{
    width: 768px;
}

main .text-left{
    font-size: 16px;
}

main .dis2{
    font-size: 14px;
}

main ul{
    font-size: 18px;
    margin-top: 50px;
}

main #stat{
    margin-left: 0px;
    margin-top: 30px;
}

main .active{
    border-bottom: 2px solid #009494;
    width: 35px;
    height: 40px;
    margin-left: 18px;
}

main .bar1{
    width: 360px; 
    height: 20px; 
    background: #009494;
}

main .bar2{
    width: 280px; 
    height: 20px; 
    background: #009494;
}

main .bar3{
    width: 200px; 
    height: 20px;  
    background: #009494;
}

#round1{
    width: 69px; 
    height: 69px; 
    background: #eb5f5f;
}

#round2{
    width: 69px; 
    height: 69px;
    background: #8d8dff;
}

#round3{
    width: 69px; 
    height: 69px; 
    background: #ebc05f;
}

#rr{
    font-size: 14px;
    margin-top: 39px;
    width: 650px;
}

main .text-center{
    padding-top: 22px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

p{
    color: #707070;
}

/* Sidebar */
main .btn-info{
    height: 57px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #ffffff;
}

main #cart{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #000000;
}

main mark{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: #000000;
    font-weight: bold;
}

main #star{
    color: #f09648;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
}

main h2{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #0d1018;
    margin-left: 4px;
}

main #sidebar-2{
    border-top: 2px solid #009494;
}

 #row5{
    border-bottom: 2px solid #F0F0F0;
}

#row6{
    width: 290px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 25px;
    margin-left: 0px;
}

main .col-sm-4{
    height: 17px;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-align: left;
}

main .col-sm-6{
    font-size: 14px;
    color: #707070;
    padding-top: 2px;
}

main #foot{
    color: #c1c1c1;
}

main .material-icons{
    margin-top: 2px;
    font-size: 16px;
}

@media screen and (max-width: 991px){
    #left-header{
        float: right;
    }

    #kk{
        padding-right: 0;
        width: 400px;
    }
}

@media screen and (max-width: 767px){
    header ul{
        width: 100px;
    }

    #left-header{
        float: right;
    }

    #kk{
        width: 300px;
    }

    main{
        padding-left: 10px;
    }

    main .col-1{
        display: none;
    }

    main #mainbar{
        margin: auto;
    }

    main .bar1, .bar2, .bar3{
        margin-left: 120px;
        margin-top: -18px;
    }

    main #sidebar{
        min-width: 400px;
        padding-top: 50px;
        margin: 100px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 575px){
    #left-header{
        display: none;
    }

    header #mainnavbar{
        display: inline-block;
        padding-left: 10px;
        width: 100%;
    }

    #search-bar{
        position: relative;
        float: right;
        width: 50px;
    }

    #logo{
        position: absolute;
    }
}

@media screen and (max-width: 315px){
    #search-bar{
        display: none;
    }
}