body{
    background: white;
}

.menubar{
    border: 1px solid #E0E0E0;
    box-shadow: 0 1px 0 0 #E0E0E0;
}

header{
    margin-top: 0px;
    background: white;
}


#header-logo{
    float: left;
    height: 35px;
}

nav{
    width: 100%;
    padding-right: -500px;
}

#navbarNav{
    margin-left: 100px;
}

#footer{
    background: none;
    border-top: 1px solid #ced4da;
    width: 50%;
    margin: 73px auto 0;
    clear: both;
}

footer .container{
    background: none;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 90px;
    text-align: left;
}

p{
    width: 36.5%;
    margin: auto auto 10px auto;
    font-size: 20px;
}

h5{
    color: black;
}

.logo-container{
    float: left;
}

.logo-container h4{
    background-color: #483D8B;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    font-weight: 550;
    color: white;
    width: 26px;
    height: 26px;
    padding-top: 1px;
    font-size: 20px;
    margin-bottom: 5px;
}

.logo-container span{
    color: #6c757d;
    font-size: 14px;
}

#c1{
    height: 335px;
    width: 965px;
    margin: auto;
}

#footer-2{

}

@media (max-width: 650px){
    #footer{
        margin-top: 250px;
    }

    #footer-2{
        width: 300px;
        margin: auto;
    }

    footer .container{
        padding-top: 0px;
        margin-top: -25px;
    }

    .logo-container h4{
        margin-left: 46px;
    }

    .logo-container span{
        margin-top: 5px;
        margin-left: 19px;
    }

    .col-sm{
        margin-left: 90px;
        margin-top: 15px;
        text-align: center;
    }
}

@media (max-width: 940px){
    #footer{
        margin-top: 250px;
    }

    #footer-2{
        width: 300px;
        margin: auto;
    }

    footer .container{
        padding-top: 0px;
        margin-top: -25px;
    }

    .logo-container h4{
        margin-left: 46px;
    }

    .logo-container span{
        margin-top: 5px;
        margin-left: 19px;
    }

    .col-sm{
        margin-left: 90px;
        margin-top: 15px;
        text-align: center;
    }
}