body{
    background-image: url('jeb-buchman-NjrjrdJE8As-unsplash.jpg');
    opacity: 5;
}

img{
    
}

.card { 
    width: 260px; 
    min-width: 260px;
    align-self: flex-start;
}

.container{
    
}

.card  div { 
    margin-top: 5px;
    padding: 5px;
    font-size: 16px; 
    width: 247px; 
    background: #fefefe;
}

.addlist { 
    font-size: 16px; 
    border: 1px solid #fefefe; 
    background: #fafafa; 
    color: #484848;
}

.newlist { 
    margin-top: 30px;
    margin-left: 20px; 
    padding: 5px; 
    font-size: 16px; 
    width: 243px; 
    height: 40px;
    border: 1px solid #8e8e8e; 
    
    color: #484848;
    opacity: 0.7;
}

li{
    display: inline-block;
}

.glyphicon{
    font-size: 14px;
   
}

#editbtn{
    font-size: 30px;
    color: white;
}

.editbutton{
    background: none;
    border: none;
}

.modalbtn{
    padding: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    background: green;
}

#deleteCard{

}

.closeCard{
    background: none;
}

.insertedcard{
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    text-overflow: clip;
}

#exampleFormControlTextarea1{
    height: 300px;
}

.modal-dialog-centered{
    width: 500px;
}

.insertedcard{
    color: #484848;
    padding: 0;
    height: 35px;
}

.card-title{
    
}

.ltitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.cardspan{
    overflow: hidden;
    text-overflow: clip;
}

/*<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@amudgarden?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jeb Buchman"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Jeb Buchman</span></a>
