.card { 
    width: 252px; 
}

.card  div { 
    margin-top: 5px;
    padding: 5px;
    font-size: 16px; 
    width: 240px; 
    background: #fefefe;
}

.addlist { 
    font-size: 16px; 
    border: 1px solid #fefefe; 
    background: #fafafa; 
    color: #484848;
}

.newlist { 
    margin-left: 10px; 
    padding: 5px; 
    font-size: 16px; 
    width: 240px; 
    border: 1px solid #8e8e8e; 
    background: #fafafa; 
    color: #484848;
}

li{
    display: inline-block;
}

.glyphicon{
    font-size: 14px;
   
}

#editbtn{
    font-size: 30px;
    color: white;
}

.editbutton{
    background: none;
    border: none;
}

.modalbtn{
    padding: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    background: green;
}

#deleteCard{

}

.closeCard{
    background: none;
}

.insertedcard{
    padding: 0;
}

#exampleFormControlTextarea1{
    height: 300px;
}

.modal-dialog-centered{
    width: 500px;
}

.insertedcard{
    color: #484848;
    padding: 0;
    height: 35px;
}

.card-title{
    
}
