
    .insertedcard input {display:none;}
    .insertedcard .cardspan {display:block;}
    .insertedcard.edit .cardspan {display:none;}
    .insertedcard.edit input {display:block; width: 100px; margin-right: 100px;}

body{
    background-image: url('./images/jeb-buchman-NjrjrdJE8As-unsplash.jpg');
    opacity: 5;
}

.card { 
    width: 260px; 
    min-width: 260px;
    align-self: flex-start;
}


.card  div { 
    margin-top: 5px;
    padding: 5px;
    font-size: 16px; 
    width: 247px; 
    background: #fefefe;
}

.addlist { 
    font-size: 16px; 
    border: 1px solid #fefefe; 
    background: #fafafa; 
    color: #484848;
}

.newlist { 
    margin-top: 30px;
    margin-left: 20px; 
    padding: 5px; 
    font-size: 16px; 
    width: 243px; 
    height: 40px;
    border: 1px solid #8e8e8e; 
    
    color: #484848;
    opacity: 0.7;
}

li{
    display: inline-block;
}

.glyphicon{
    font-size: 14px;
   
}

#editbtn{
    font-size: 30px;
    color: white;
}

.editbutton{
    background: none;
    border: none;
}

.modalbtn{
    padding: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    background: green;
}

.closeCard{
    background: none;
}

.insertedcard{
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    text-overflow: clip;
    color: #484848;
    height: 35px;
}

#exampleFormControlTextarea1{
    height: 300px;
}

.modal-dialog-centered{
    width: 500px;
}

.ltitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.cardspan{
    overflow: hidden;
    text-overflow: clip;
}
