header{
    color: #000000;
}

.navbar{
    border: 1px solid #BEBEBE;
    color: #000000;
}

.nav{
    float: right;
    color: #000000;
    margin-right: 200px;
    width: 275px;
    height: 30px;
}

header a{
    color: #000000;
}

header button{
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
    height: 35px;
    font-size: 18px;
    width: 90px;
    margin: -2px auto;
}

main{
    margin-top: 100px;
}

main .container{
    width: 735px;
}

.container p{
    font-size: 21px;
    margin-top: 5px; 
}

.container h1{
    font-size: 55px;
}

main .row{
    width:995px;
    margin: 45px auto  0;
}

main .col-auto{
    border: 1px solid #BEBEBE;
    border-radius: 5px 5px 5px 5px;
    padding: 0;
    width: 315px;
    height: 350px;
}

#card1, #card2{
    float: left;
}

#card3{
    float: right;
}

main h2{
    font-size: 24px;
    text-align: center;
    background: #F0F0F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 12px;
    width: 312px;
    height: 55px;
    
}

.row .text-center{
    margin-top: 10px;
    line-height: 5px;
}

main button{
    margin-top: 25px;
    margin-left: 22px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
    width: 270px;
    font-size: 25px;
    height: 60px;
}

main #lead{
    width: 90px;
    margin-top: 3px;
    margin-left: 80px;
    color: #303030;
    font-size: 50px;
    font-weight: 400;
}

main mark{
    color:  #696969;
    background: none;
    font-size: 45px;
}

main #lead3{
    width: 90px;
    margin-top: 0px;
    margin-left: 64px;
    color: #202020;
    font-size: 50px; color: #303030;
    font-size: 50px;
    font-weight: 400;
}

 main #btn1{
    font-size: 25px;
}

main #btn2{
    font-size: 25px;
    box-shadow: none;
    border: none;
}

footer{
    margin-top: 85px;
}

footer .container{
    border-top: 1px solid #BEBEBE;
    padding-top: 45px;
    width: 1000px;
}

.logo-container h3{
    background: #483D8B;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    color: white;
    width: 25px;
    height: 25px;
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 20px;
    margin-bottom: 5px;
}

.logo-container span{
    color: #696969;
    font-size: 15px;
}

footer h4{
    font-size: 20px;
}

ul li a{
    color: #696969;
}

@media screen and (max-width: 714px){
    .col{
        display: none;
    }

    header button{
        margin-left: 520px;
        margin-top: -65px;
    }

    .navbar{
        height: 60px;
    }

    main .container{
        width: 395px;
    }

    main .row{
        width: 350px;
    }

    #card1{
        margin: auto;
    }

    #card2{
        margin-top: 20px;
        margin-right: auto;
    }

    #card3{
        margin-top: 20px;
    }

    footer .container{
        width: 200px;
        text-align: center;
    }

    footer h3{
        margin-left: 71px;
    }

    .logo-container{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 676px){
    header button{
        margin-left: 450px;
        margin-top: -65px;
    }
}

@media screen and (max-width: 676px){
    header button{
        margin-left: 420px;
        margin-top: -65px;
    }
}

@media screen and (max-width: 500px){
    header button{
        margin-left: 290px;
        margin-top: -65px;
    }
}